#style-switcher {
  background: #08090e;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;  
  position: fixed;
  right: -170px;
  top: 19%;
  width: 170px;
  transition-duration: 0.3s;
  &.active {
    right: 0px;
  }
  .handle {
    background: #08090e;
    display: block;
    padding: 17px 21px;
    position: absolute;
    top: 0;
    left: -58px;
    i {
      color: white;
    }
  }
  .style-switcher-body {
    color: white;
    padding: 19px 20px 29px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 10px;
    }
    &.color-chooser {
      margin-bottom: 20px;
      a {
        display: block;
        height: 30px;
        width: 30px;

        &.accent-1 {
          background: #f2b825;
        }

        &.accent-2 {
          background: #0c6bd4;
        }
      }
    }
    &.theme-chooser {
      a:hover {
        text-decoration: none;
      }
      a.light-theme {
        background: white;
        color: black;
        padding: 5px 10px;
      }
      a.dark-theme {
        background: black;
        color: white;
        padding: 5px 10px;
      }
    }
  }
}